*.log
*.swo
*.swd
*.swp
*/**/*.o

bench_**
output/*
logdir/*
evaluation/*
test/output/*

!*.gitignore

Makefile
CMakeCache.txt
*.cmake
CMakeFiles
install_manifest.txt
build

tapcell/.obj/
tapcell/script_cmdline.cpp
tapcell/script_util.cpp
tapcell/tapcell_wrap_tcl.cpp
common/generated.mk
bin/